<nav class="navbar">
  <a class="navbar-img" href="/">
    <img src="../../assets/logo-primary-vector.svg" class="nav-logo" alt="logo">
    new with tags
  </a>
  <ul class="nav-items">
    <li>
      <a class="nav-link" href="/">Home</a>
    </li>
    <li>
      <a class="nav-link" href="/create">Create</a>
    </li>
    <li>
      <a class="nav-link" href="/profile">My posts</a>
    </li>
  </ul>
</nav>