<div class="container-fluid">
  <nav class="navbar row">

    <a href="/">
      <img src="../../assets/logo-primary-vector.svg" class="nav-logo" alt="logo">
    </a>

    <ul class="nav-items">
      <li id="/">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li id="/create">
        <a class="nav-link" href="/create">Create</a>
      </li>
      <li id="/profile/posted" class="logged-in">
        <a class="nav-link" href="/profile/posted">My posts</a>
      </li>
      <li id="/login" class="not-logged-in">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </nav>

</div>

<hr style="margin-top: 10px; margin-bottom: 15px">

<script>
  var logged_in = "<%= logged_in %>";
  if (logged_in !== 'false') {
    $(".logged-in").show();
    $(".not-logged-in").hide();
  } else {
    $(".logged-in").hide();
    $(".not-logged-in").show();
  }
</script>

<script>

  let currentPage = window.location.pathname;
  console.log("currentpage:");
  console.log(currentPage);

  let link = document.getElementById(currentPage);
  console.log(link);
  if (link) {
    link.classList.add('active');
  }
  if (currentPage == "/profile/liked") {
    let linkProfileLiked = document.getElementById("/profile/posted");
    linkProfileLiked.classList.add('active');
  }
</script>
