<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load bootstrap stylesheet (css) -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <%- include("partials/navbar.ejs") %>

    <div class="container-fluid">
        
        <%- include("partials/searchbar.ejs") %>
        <%- include("partials/flashes.ejs") %>
    
        <div class="row">
            <% posts.forEach((elt) => { %>
                <div class="col-lg-4 col-md-4 col-sm-6 gallery-image">
                    <img src=<%= elt.imageURL %>>
                </div>
            <% }); %>
        </div>
    </div>

    <!-- load local js -->
    <script src="/main.js"></script>
    <!-- load bootstrap js -->
    <script src="../bootstrap.min.js"></script>
</body>
</html>


<script>

    // Function to toggle the active class on the content div
    function toggleContent(event) {
        const session = event.currentTarget.closest('.session'); // The clicked "session" div
        const content = session.querySelector('.content'); // The content div inside the clicked "session" div
        const question = session.querySelector('.question');

        // Toggle the "active" class on the content div
        session.classList.toggle('active');
        content.classList.toggle('active');
        question.classList.toggle('p-bold');
    }

    // Add click event listener to all elements with the class "session"
    const sessions = document.querySelectorAll('.session');
    sessions.forEach(session => {
        const question = session.querySelector('.question');
        const toggle = session.querySelector('.toggle');
        
        question.addEventListener('click', toggleContent);
        toggle.addEventListener('click', toggleContent);
    });

</script>