<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load bootstrap stylesheet (css) -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <%- include("partials/navbar.ejs") %>

    <div id="cityTag">
        <p>Filter</p>
        <form id="searchCity" method="GET" action="/city/">
            <p>
                <label>Search...<input type="text" required city="city"></label>
                <input type="submit" value="search" id="searchCityButton">
            </p>
        </form>
    </div>

    <div id="row">
        <div id="column">
            <img src="/assets/uploads/img1.jpeg">
            <img src="/assets/uploads/img2.jpeg">
            <img src="/assets/uploads/img3.jpeg">
        </div>
        <div id="column">
            <img src="/assets/uploads/img4.jpeg">
            <img src="/assets/uploads/img5.jpeg">
            <img src="/assets/uploads/img6.jpeg">
        </div>
        <div id="column">
            <img src="/assets/uploads/img7.jpeg">
            <img src="/assets/uploads/img8.jpeg">
            <img src="/assets/uploads/img9.jpeg">
        </div>
    </div>

    <div id="logged-in">
    <p>You are logged in as <span id="login-uid"><%= uid %></span>
        <form method="post" action="/logout/"><input type="submit" value="logout"></form></p>
    </div>
    <div id="not-logged-in">
    <p>You are not logged in.</p>
    <form id="login_form" method="post" action="/set-uid/">
        <p><label>uid <input name="uid"></label></p>
        <input type="button" id="login-ajax" value="ajax">
    </form>
    </div>

    <div class="col-6" style="background-color: red">
        <p>You have visited <%= visits %> times.</p>
    </div>

    <h2>Links</h2>

    <p><a href="/form/">a pizza form</a></p>
    
    <p><a href="/staffList/">staff listing</a></p>

    <!-- load local js -->
    <script src="/main.js"></script>
    <script>
        var uid = "<%= uid %>";
        if(uid !== 'unknown') {
            $("#logged-in").show();
            $("#not-logged-in").hide();
        } else {
            $("#logged-in").hide();
            $("#not-logged-in").show();
        }
    </script>
    <!-- load bootstrap js -->
    <script src="../bootstrap.min.js"></script>
</body>
</html>
