<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <!-- load bootstrap stylesheet (css) -->
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a><img src="../assets/arrow-back.svg">Back</a>
            </div>
        
            <div class="col-lg-8 col-md-8 col-sm-12">
                <img src="../assets/placeholder.png">
            </div>
        
            <div class="col-lg-4 col-md-4 col-sm-12">
                <p>From the streets of</p>
                <h1>Seattle</h1>
                <p class="text-timestamp" style="margin-bottom: 35px">2 days ago</p>
                <p>Tagged as</p>
                <div class="container-comment">
                    <p class="component-tag">#PrimaryColors</p>
                    <p class="component-tag">#SportsInspired</p>
                    <p class="component-tag">#Baggy</p>
                </div>
                <div class="container-comment">
                    <p>
                        As I walked to work today, I saw someone wearing an 
                        outfit on the street that struck me so much that I 
                        asked them if I could take a picture of them to 
                        upload on NWT! I love their use of color blocking!
                    </p>
                </div>
        
                <hr>
                <p class="bold">Comments</p>
                <div class="container-comment">
                    <hr class="gray">
                    <p>Wow! Love this look!</p>
                    <p class="text-timestamp">1 day ago</p>
                </div>
                <div class="container-comment">
                    <hr class="gray">
                    <p>Wow! Love this look!</p>
                    <p class="text-timestamp">1 day ago</p>
                </div>
            </div>
        </div>
    </div>

    <!-- load local js -->
    <script src="/main.js"></script>
    <!-- load bootstrap js -->
    <script src="../bootstrap.min.js"></script>
</bodys>
</html>
