/* FONT IMPORTS */
@font-face {
	font-family: "Suisse Int'l Mono";
	src: url("../assets/fonts/SuisseIntlMono-Regular-WebS.woff") format("woff"),
         url("../assets/fonts/SuisseIntlMono-Regular-WebS.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Graphik";
	src: url("../assets/fonts/Graphik-Regular.woff") format("woff"),
         url("../assets/fonts/Graphik-Regular.woff2") format("woff2");
			
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Graphik";
	src: url("../assets/fonts/Graphik-Semibold.woff") format("woff"),
         url("../assets/fonts/Graphik-Semibold.woff") format("woff2");
			
	font-weight: 600;
	font-style: normal;
}

body {
  font-family: Graphik, sans-serif;
}

/* TEXT */
p {
	font-size: 12px;
}

h1, .bold {
	font-weight: 600;
}

.text-timestamp {
	color: #9F9F9F;
}

.component-tag {
	display: inline-block;
	font-family: "Suisse Int'l Mono";
	text-transform: uppercase;
	font-size: 12px;
	border: 1px solid black;
	border-radius: 24px;
	padding: 5px 10px;
	margin-bottom: 10px
}

/* COMPONENTS */
hr {
	border: 1px solid black;
}

hr.gray {
	border: 1px solid #F5F5F5;
}

/* FORM */
select, input[type="text"] {
	width: 50%;
	background-color: #F5F5F5;
	border-radius: 10px; 
	border: none; 
	padding: 8px 10px; 
	font-size: 12px;
}

input[type="file"] {
	font-size: 12px;
}

input[type="submit"] {
	color: white;
	background-color: black; 
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 12px; 
	border: none;
	padding: 9px 18px;
}

/* NAV BAR */

.navbar {
	border-bottom: 3px solid black;
}

.navbar a {
	display: block;
}

.nav-items {
	display: inline;
}

.nav-items li {
	display: inline;
	float: right;
	color: white;
	background-color: black; 
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 24px; 
	border: none;
	margin: 9px;
	padding: 6px 9px;
}

.nav-items a {
	text-decoration: none;
	color: white;
}

.navbar-img img {
	width: 30px;
}

/* CONTAINERS */
.container-fluid {
	display: flex;
	flex-wrap: wrap;
}

.row {
	width: 100%;
}

.container-comment {
	margin-bottom: 43px;
}

form {
	display: block;
}

label, select, input {
	display: block;
}

/* SMALL SCREEN SIZE */
@media (max-width: 767px) {
	
}