/* FONT IMPORTS */
@font-face {
	font-family: "Suisse Int'l Mono";
	src: url("../assets/fonts/SuisseIntlMono-Regular-WebS.woff") format("woff"),
         url("../assets/fonts/SuisseIntlMono-Regular-WebS.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Graphik";
	src: url("../assets/fonts/Graphik-Regular.woff") format("woff"),
         url("../assets/fonts/Graphik-Regular.woff2") format("woff2");
			
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Graphik";
	src: url("../assets/fonts/Graphik-Semibold.woff") format("woff"),
         url("../assets/fonts/Graphik-Semibold.woff") format("woff2");
			
	font-weight: 600;
	font-style: normal;
}

body {
  font-family: Graphik, sans-serif;
}

/* TEXT */
p {
	font-size: 12px;
}

h1, .bold {
	font-weight: 600;
}

h2 {
	font-weight: 600;
	font-size: 24px;
}

h3 {
	font-weight: 600;
	font-size: 14px;
}

.text-timestamp {
	color: #9F9F9F;
}

.component-tag {
	color: black;
	display: inline-block;
	font-family: "Suisse Int'l Mono";
	text-transform: uppercase;
	font-size: 12px;
	border: 1px solid black;
	border-radius: 24px;
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}



.selector {
	display: inline-block;
	font-size: 12px;
	border: 1px solid black;
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	color: white;
	background-color: black; 
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 12px; 
	border: none;
	padding: 9px 18px;
}

.city-tag {
	color: black;
	display: inline-block;
	font-family: "Graphik";
	font-size: 12px;
	border: 1px solid black;
	border-radius: 24px;
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-right: 5px;
}

/* COMPONENTS */
hr {
	border: 1px solid black;
}

hr.gray {
	border: 1px solid #F5F5F5;
}

/* FORM */
select, input[type="text"], input[type="password"] {
	width: 50%;
	background-color: #F5F5F5;
	border-radius: 10px; 
	border: none; 
	padding: 8px 10px; 
	font-size: 12px;
}

.full-width {
	width: 85% !important;
}

input[type="file"] {
	font-size: 12px;
}

input[type="submit"], button {
	color: white;
	background-color: black; 
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 12px; 
	border: none;
	padding: 9px 18px;
}

form label {
	font-size: 12px;
}

/* NAV BAR */


.navbar {
	margin-top: 10px;
}

.navbar a {
	display: block;
}

.nav-items {
	display: inline;
	margin: 0;
}

.nav-items li {
	display: inline;
	float: right;
	color: white;
	background-color: black; 
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 12px; 
	font-size: 12px;
	border: none;
	margin: 9px 0px 9px 18px;
	padding: 0px 2px 0px 2px;
}

.nav-items a {
	text-decoration: none;
	color: white;
}

/* CONTAINERS */
.container-fluid {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 30px 0px 30px;
}

.row {
	width: 100%;
}

.container-image img {
	width: 100%;
	margin-bottom: 30px;
}

.gallery-image img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	margin-bottom: 30px;
}

.container-comment {
	margin-bottom: 43px;
}

.container-comments {
	max-height: 500px; 
	margin-bottom: 43px;
    overflow-y: auto; 
}

.container-comments::-webkit-scrollbar {
	width: 5px;
}

.container-comments::-webkit-scrollbar-track {
    background-color: white; 
}

.container-comments::-webkit-scrollbar-thumb {
    background-color: #F5F5F5; 
	border-radius: 3px;
}

.container-comments::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0; 
}

form {
	display: block;
}

label, select, input {
	display: block;
}

/* ACCORDION */
.accordion {
	width: 100%;
}

/* Style for each session container */
.session {
	cursor: pointer;
}

/* Style for the content that can be collapsed */
.content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.25s ease-in-out;
}

/* Style for the content when it's visible */
.content.active {
	display: block;
	max-height: none;
}

.arrow-container img {
	transition: transform 0.25s ease; /* Smooth transition for rotation */
}

/* Rotate the image by 180 degrees when the "active" class is added */
.session.active .arrow-container img {
	transform: rotate(180deg);
}

/* SMALL SCREEN SIZE */
@media (max-width: 767px) {
	.full-width {
		width: 100% !important;
	}
}